<div class="About" id="About"> 
<h1>About <a NAME="about"> </a> </h1>

<p> Hey There! </p>

<p>Thanks for visiting! </p>
 <p>My name is Emma Matthews. I am currently a student studying Information Technology and Security at Campbell University. I will graduate in May 2017. It is nice to meet you! </p>
<p> I have built sites using JavaScript and PHP. In addtion to web development, I have taken courses in databases, operating systems and networking. I have also completed SANS cybersecurity training. Find out more by viewing my resume. </p>
</div>

<div class="Resume" id="Resume">
<h2> Resume </h2>
<p> <a href = "https://drive.google.com/file/d/0BxxKshQukDVSVDY5YjMydTlqU1E/view"> View My Resume Here </a></p>
</div>

<div class = "Contact" id="Contact">
<h2>Contact</h2>
<p>Thank you for your interest. If you're interested in working with me get in touch using one of the methods below. Or feel free to just say, "Hi." I like that too. </p>

<p> <img src="https://image.flaticon.com/icons/svg/133/133667.svg" alt="Email" height="22" width="22"> <a href="mailto:e.matthews584@gmail.com?" target="_top">Email Me</a></p>
</div>

<div class="Follow Me" id="Follow Me">
<h2>Follow Me Online</h2>
<p> <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Github" height="22" width="22"> <a href="https://github.com/ejmatthews0606">GitHub</a></p>
<p> <img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="Linkedin" height="22" width="22"> <a href="https://www.linkedin.com/in/emily-matthews-51727a123/">LinkedIn</a></p>
<p> <img src="https://image.flaticon.com/icons/svg/174/174876.svg" alt="Twitter" height="22" width="22"><a href="https://twitter.com/emma_joyjoy">Twitter</a></p>
</div>

<div class ="Site Info">
<h2>Site Info</h2>
<p>Icons made by Dave Gandy from <a href = "httphttp://www.flaticon.com/">www.flaticon.com </a> is licensed by CC 3.0 BY </p>

<p> This site is built with <img src="https://image.flaticon.com/icons/svg/126/126471.svg" alt="heart" height="12" width="12"> and maintained by Emma Matthews.</p>
</div>
