<h1>About</h1>

<p> Hey There! </p>

<p>Thanks for visiting! My name is Emma Matthews. I am currently a student studying Information Technology and Security at Campbell University. I will graduate in May 2017. It is nice to meet you! </p>
<p> I have built sites using JavaScript and PHP. In addtion to web development, I have taken courses in databases, operating systems and networking. I have also completed SANS cybersecurity training. Find out more by viewing my resume. </p>

<h2> Resume </h2>
<p> </p>

<h2>Contact</h2>
<p>Thank you for your interest. If you're interested in working with me get in touch using one of the methods below. Or feel free to just say hi. I like that too. </p>

<p><a href="mailto:e.matthews584@gmail.com?" target="_top">Email Me
<img src="assets/img/mail.svg" height="23" width="23" alt="Mail"></a></p>

<h2>Follow Me Online</h2>
<p><a href="https://github.com/ejmatthews0606">GitHub</a></p>
<p><a href="https://www.linkedin.com/in/emily-matthews-51727a123/">LinkedIn</a></p>
<p><a href="https://twitter.com/emma_joyjoy">Twitter</a></p>

